html{
    scroll-behavior: smooth;
}
/**   Modal cargando  */
.divModalCharge{
    position: fixed;
    display: flex;
    z-index: 10000;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--b1);
    box-sizing: content-box;
    overflow: hidden;
}
.circle{
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 50px;
    height: 50px;

    background-color: var(--w);
    animation: tama침o2 .9s linear infinite;
}

.circle2{
    z-index: 10000;
    display: none;
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 50px;
    height: 50px;
    background-color: var(--w);

}
@keyframes rotar
 {
    0%{
       rotate: 0deg;
    }
    100%{
        transform:rotate(-360deg);
    }
}

@keyframes tama침o2
 {
    0%{
        transform: translate(2000px);
    }
    100%{
        
        transform: translateX(-1000px);
    }
}
@keyframes tama침o3
 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(40);
    }
    100%{
        transform: scale(-0.1);
    }
}

/**    Barra de navegaci칩n    */
nav {
    width: clamp(250px, 18vw, 500px);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0 0 8px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: var(--b1);
    transform: translateX(-300px);
    border-right: 2px var(--w) solid;
    transition: transform 1s ease;
    overflow: hidden;
    border-right: 2px var(--w) solid;
}
.buttonsNav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: start;
    opacity: 0;
}
.navCel {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
    position: fixed;
}

.navCel img {
    width: 40px;
    object-fit: contain;
    cursor: pointer;
}

.buttonLink {
    border-radius: 15px;
    border: 2px var(--w) solid;
    padding: 10px;
    text-align: center;
    width: 150px;
    text-decoration: none;
    transition: all 1s ease-in-out;
    font-weight: 600;
}

.buttonLink:hover {
    border: 2px transparent solid;
    background-color: var(--w);
    color: var(--b1);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
}

.inNav {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    box-sizing: border-box;
    padding: 0;
}
.inNav img {
    width: 40px;
    object-fit: contain;
    cursor: pointer;
}


/**   Cuerpo  */

.portada{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 200px 0;
}
.portada h1{
    text-align: center;
    font-weight: bold;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
h2{
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
p{
    margin: 0;
}
.linksApps{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 50px;
    box-sizing: border-box;
    overflow: hidden;
}
.linksApps img{
    object-fit: cover;
    width: 30px;
    margin: 0 10px;
}
.portada p{
    width: 500px;
    text-align: center;
    line-height: 30px;
}

/**     Cartas sobre tecnologias   */

.Habilities{
    width: 90%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    margin: 40px auto 0 auto;
}

.Habilities-title h2{
    font-size:clamp(30px, 3.5vw, 40px);
}

.cardTechSection{
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 25px 0;
}
.cardTechSectionPort{
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns:  repeat(auto-fill, minmax(280px, 580px));
    gap: 30px;
    padding: 25px 0;
}
.subHabilities{
    margin-left: 20px;
}
.cardTech{
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
    height: clamp(50px, 10vw, 120px);
    width: clamp(300px, 50vw, 320px);
    border-radius: 15px;
    border: 2px transparent solid;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 40px 10px;
    transition: box-shadow .2s ease;
}

.cardTech:hover{
    border: 2px var(--w) solid;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.8);
    transition: box-shadow .2s ease;
}
.emptyBox{
    box-shadow: none;
    border: none;
    transition: none;
}
.emptyBox:hover{
    box-shadow: none;
    border: none;
    transition: none;
}
.cardTech img{
    width: clamp(50px, 6vw, 100px);
    object-fit: cover;
    margin: 10px;
}

.Levels{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Levels p{
    padding: 2px 0 10px 0;
}
.spaceLevels{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.boxlevelUp{
    width: clamp(20px, 2vw, 30px);
    height: clamp(20px, 2vw, 30px);
    background-color: var(--c2);
    border-radius: 8px;
}
.boxlevelDown{
    width: clamp(20px, 2vw, 30px);
    height: clamp(20px, 2vw, 30px);
    background-color: var(--g);
    border-radius: 8px;
}

.cardPort{
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
    height: clamp(90px, 30vw, 220px);
    width: clamp(280px, 50vw, 590px);
    border-radius: 15px;
    border: 2px transparent solid;
    display: flex;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    transition: box-shadow .2s ease;
    cursor: pointer;
}
.cardPort:hover{
    border: 2px var(--w) solid;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.8);
    transition: box-shadow .2s ease;
}

.cardPort div p{
    height: fit-content;
    margin-bottom: 10px ;
}
.cardPort div h3{
    margin: 5px 0;
}
.cardPort img{
    width: clamp(50px, 20vw, 150px);
    height: clamp(50px, 20vw, 150px);
    object-fit: contain;
    margin: 10px;
}
.techIconInProjects{
    height: 60px;
    padding: 5px 0;

}
.techIconInProjects img{
    width: clamp(30px, 6vw, 30px);
    height: clamp(30px, 6vw, 30px);
    object-fit: cover;
    margin: 0 10px 10px 0;
}
.boxModal{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.63);
}
.Modal{
    border-radius: 15px;
    background-color: var(--w);
    width: clamp(350px, 40vw, 600px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
    overflow: hidden;
    box-sizing: border-box;
}
.material-symbols-outlined{
    cursor: pointer;
}
.Close{
    width: 100%;
    justify-content: right;
    align-items: end;
    display: flex;
    margin-right:25px;
    margin-top: 15px;
}
.Modal p{
    margin: 40px 20px 20px 20px ;
    text-align: center;
    display: none;
}
.Modal h2, .Modal h3, .Modal p, .Modal a{
    color: var(--b1);
}
.Modal a{
    margin: 20px 0 0 0;
}
.Modal video, .Certified{
    margin: 0 60px;
    border-radius: 25px;
    width: clamp(310px,50vw,500px);
}
.Certified{
    margin-bottom: 30px;
}
.openModal{
    display: flex;
}


@keyframes UpModal {
    0%{
        transform: translateY(-1000px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes downModal {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-1000px);
        opacity: 0;
        
    }
}
@media screen and (max-width: 800px) {
    .emptyBox{
        display: none;
    }
    .cardPort div p{
        display: none;
    }
    .Modal p{
        display: block;
        margin: 20px 0 10px 0;

    }
  }
@media screen and (max-width: 600px) {
    .emptyBox{
        display: none;
    }
    .portada{
        padding: 150px 0;
    }
    .portada p{
        width: 250px;
    }
    .Habilities{
        margin-top: 30px;
    }
    .cardPort div p{
        display: none;
    }
    .Modal p{
        display: block;
        margin: 20px 0 10px 0;
    }
    .navCel{
        background-color: var(--b1);
    }
  }